body{
    padding:0px;
    margin: 0px;
    font-family: 'Muli Regular';
    color: #fff;
}

/*Pseudo Classes : input:focus */
/*Pseudo Element : p::first-line*/

input:focus{
    outline: none;
}

.main{
    height: 100vh;        /*covers the entire height of the page irrespective of the parent element*/
    width: 100%;            /*covers the full width of the parent element size */
    background:#54B08A;
    position: absolute;
}
.header{
    padding: 2vw 0 0 2vw;
    font-size: 1.5em;

}
.sign-in-holder{
    height: auto;
    width: 100%;
    position: relative;
    top: 40%;
    transform:translate(0%,-50%);
}

.page-title{
    text-align: center;
    font-size: 3em;
    padding: 0 0 30px 0;
}    

.person-image{
    height: 200px;
    width: 200px;
    margin: auto auto;
    background: url(../images/person.webp) center center;
    background-size: cover;
    border:3px solid #ffffff;
    border-radius: 10px;
}

.text-box{
    height: 45px;
    width: 315px;
    font-size: 18px;
    border-radius: 10px;
    border:2px solid #ffffff;
    margin: 30px 0;
    position: relative;
    color: #fff;
    left: 50%;
    transform:translate(-50%,0%);
    background: #54B08A;
    padding: 0px 15px;
    text-align: center;
    display: block;
}

.sign-in-button{
    height: 51px;
    width: 350px;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
    left: 50%;
    transform:translate(-50%,0%);
    background: rgba(255, 255, 255, 0.3);
    line-height: 51px;
    text-align: center;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
    cursor: pointer; 
}

.sign-in-button:hover{
    background: rgba(255, 255, 255, 0.5);
}

.register-button{
    text-decoration: underline;
    text-align: center;
    padding: 20px 0 0 0;
    cursor: pointer; 
}

@font-face{
    font-family: 'Muli Regular';
    src: url('../fonts/Muli-Regular.ttf');
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}

a {
    color: #fff;
    text-decoration: none;
}