body {
    margin : 0;
    font-family: 'Muli', sans-serif;
}
header{
    color: #54B08A;
    height: 20vh;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 1.5em;
}
button {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    background:#54B08A;
    height: 40px;
    margin: 0;
    width:8vw;
    display: inline;
    border-radius: 30px;
    outline: none;
    border: none;
    font-size: 1em;
    border: 0px;
    color: #fff;
    min-width: 90px;
    cursor: pointer;
}
input {
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    height: 40px;
    width: 45vw;
    border: none;
    min-width: 300px;
    font-size: 1em;
    margin: 0 20px 0 0;
    padding : 0px 5px 0px 5px;
    border-radius: 30px ;
}
input:focus,
textarea:focus,
button:focus {
    outline: none;
}
.searchCont {
    width : 100vw;
    text-align: center
}
.searchBox {
    margin: 0 auto;
    display: inline-block;
}

/*Box content*/

img{
    width: 100px;
    height: 110px;
    border-radius: 8px;
    margin-top: -2.5px;
}
.main{
    height: 105px;
    width: 418px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-right: 30px;
    margin-bottom: 30px;
}
#box{
    width: 59vw;
    display: inline-block;
    margin-left:22vw;
    margin-top: 3vh;
}

div{
    display: inline-block;
}

.text{
    position: relative;
    top: -28px;
    left:5px;
}
